<h3><%= @snack.name %></h3>
<p>Price: $<%= @snack.price %></p>
<h4>Locations</h4>
<% @snack.machines.each do |machine|  %>
  <p><%= machine.location %> (<%=machine.snacks.count%> kinds of snacks, average price of $<%= '%.2f' % machine.average_price%>)</p>
<% end %>
